:root{
    --global-bg: rgb(18, 18, 18);
    --global-bg2: rgb(38,38,38);

    --darkBlue: rgb(22,143,255);
    --lightBlue: rgb(99,180,255);

    --darkGreen: rgb(23,203,73);
    --lightGreen: rgb(139,247,169);

    --darkOrange: rgb(255,159,45);
    --lightOrange: rgb(255,207,148);

    --darkRed: rgb(247,65,65);
    --lightRed: rgb(242,155,155);

    --mainText: rgb(128, 128, 128);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--global-bg);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x:hidden;
}

html{
    scroll-behavior: smooth;
}

#header{
    height: 91.5vh;
    background-color: var(--global-bg2);
    position: relative;
}

.headerPic{
    /*opacity: 0.2;*/
    width: 100%;
    object-fit: fit;
}

.main{
    height: 60rem;
    position: relative;
    min-height: 100%;

}

.main #mainBG{
    top: 0rem;
    float: left;
    object-fit:fill;
    position: relative;
    opacity: 0.2;
}

#projects{
    background-color: var(--global-bg2);
}
#contacts{
    background-color: var(--global-bg2);
}
#home{
    background-color: var(--global-bg);
}

footer{
    position: relative;
    height: 15rem;
    background-color: var(--global-bg);
    padding: 15%;
    padding-left: 35%;
    text-decoration: none;
}


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--global-bg2); 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--lightRed); 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--darkRed); 
  }

  /*******************************GALLERY**************************************/

  .container{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.images img{
    width: 100%;
}